Package: skype-wrapper
Version: 0ubuntu5-3.3
Architecture: all
Maintainer: Shannon Black <shannon@netforge.co.za>
Installed-Size: 220
Depends: python-skype (>= 1.0.31), gtk2-engines-pixbuf, python (>= 2.4), python-gobject, python-indicate, python-gtk2, python-dbus, python-imaging, python-support (>= 0.90.0)
Suggests: skype
Section: misc
Priority: optional
Homepage: https://github.com/sagetarian/skype-wrapper/
Description: Integrate Skype with Unity
 Makes Skype more native in Ubuntu by:
 * Putting skype in messaging menu, and via this
  * List all unread messages
  * Open skype and bring focus to it
  * On clicking an item remove item from skype missed chats
  * Draw attention to the Messaging Menu
  * Skype presence tied to Messaging Menu Presence (via telepathy)
 * Supply libnotify Ubuntu Desktop Notifications when
  * Users come Online or go Offline
  * Users send messages
  * Users transfer files to you or your transfers are accepted or completed by your skype contact
 * Also Disables notifications if your Online Presence is Busy / Do Not Disturb
 * Add support for unity launcher (through skype-wrapper.desktop)
  * Unread message count on unity launcher
  * Unread messages in Unity Quick List
  * File transfer progress
 * Now you can change skype-wrappers behaviour in gsettings under apps/skype-wrapper
