Package: skype-wrapper
Version: 0.2
Section: System
Priority: optional
Architecture: all
Depends: skype, python-skype (>= 1.0.31)
Maintainer: Shannon A. Black <shannon@netforge.co.za>
Size: 1.0
Installed-size: 1.0
Description: Puts control of Skype in the Ubuntu Messaging Menu
